@tailwind base;
@tailwind components;
@tailwind utilities;

/*
    Color themes:
*/
@layer base {
    [data-theme="green"] {
        --color-primary: #9FC088;
        --color-light-primary: #E9C891;
        --color-dark-primary: #8A8635;
        --color-complementer: #E8C07D;
        --color-light-complementer: #E9C891;
        --color-dark-complementer: #E8C07D;
    }

    [data-theme="blue"] {
        --color-primary: #3DA5D9;
        --color-light-primary: #73BFB8;
        --color-dark-primary: #2364AA;
        --color-complementer: #FEC601;
        --color-light-complementer: #FEC601;
        --color-dark-complementer: #EA7317;
    }

    [data-theme="yellow"] {
        --color-primary: #eeba0b;
        --color-light-primary: #f4e409;
        --color-dark-primary: #c36f09;
        --color-complementer: #a63c06;
        --color-light-complementer: #c36f09;
        --color-dark-complementer: #710000;
    }

    [data-theme="violet"] {
        --color-primary: #d55d92;
        --color-light-primary: #ea698b;
        --color-dark-primary: #c05299;
        --color-complementer: #571089;
        --color-light-complementer: #6411ad;
        --color-dark-complementer: #47126b;
    }

    [data-theme="red"] {
        --color-primary: #a4133c;
        --color-light-primary: #c9184a;
        --color-dark-primary: #800f2f;
        --color-complementer: #ffb3c1;
        --color-light-complementer: #ffccd5;
        --color-dark-complementer: #ff8fa3;
    }
}

/*
    Custom classes:
*/
@layer components {
    .bg {
        @apply bg-fixed bg-bgColor bg-[url('../../resources/background_graphics.svg')] bg-cover py-6 w-full;
    }
    .card {
        @apply mb-8 sm:mx-[5%] mx-[5%] md:mx-[10%] lg:mx-[20%] px-[5%] py-6 text-center bg-lightBgColor rounded-md shadow-md;
    }
    .round-img {
        @apply w-[6rem] rounded-full ring ring-lightPrimary shadow-lg mx-auto mb-2 select-none;
    }
    .round-btn {
        @apply font-mono bg-primary text-invTextColor hover:text-invTextColor hover:bg-darkPrimary select-none
            focus:outline-none focus:ring focus:ring-primary focus:text-invTextColor rounded-xl shadow-sm px-3 pt-[0.20rem] pb-[0.3rem] align-text-bottom tracking-wider mx-auto;
    }
    .title1 {
        @apply font-mono text-xl text-center font-medium text-darkTextColor selection:bg-lightPrimary mt-2 mb-4 tracking-widest;
    }
    .title2 {
        @apply font-mono font-medium text-textColor mb-4 selection:bg-lightPrimary;
    }
    .card-divider {
        @apply bg-lightTextColor w-full h-[0.5px] mb-3;
    }
    .card-content {
        @apply font-mono text-textColor selection:bg-lightPrimary text-justify mb-8 leading-relaxed tracking-wider first-letter:text-2xl;
    }
    .dropdown-btn {
        @apply float-right font-mono text-xl tracking-wider px-2 py-0.5 h-8
      text-invTextColor hover:text-invTextColor hover:bg-darkPrimary selection:bg-darkPrimary;
    }
    .dropdown-item {
        @apply font-mono text-textColor leading-relaxed tracking-wider block px-4 py-2 hover:text-lightPrimary hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white;
    }
}